@import "../../../utils/styles/colors.scss";

#games {
    background-color: $sky-blue;
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 100%;

    .arrow {
        border: 0;
        position: absolute;
        width: 3vmin;
        height: 3vmin;
        background: transparent;
        border-top: 1vmin solid white;
        border-right: 1vmin solid white;
        top: 50%;
        z-index: 1;

        &.right {
            margin-right: 30px;
            transform: translate3d(0, -50%, 0) rotate(45deg);
            right: 0;
        }

        &.left {
            margin-left: 30px;
            transform: translate3d(0, -50%, 0) rotate(-135deg);
            left: 0;
        }
    }

    h1 {
        align-items: center;
        color: white;
        display: flex;
        font-size: 35px;
        font-weight: bold;
        justify-content: center;
        margin-top: 25px;
        text-align: center;
        width: 100%;
        white-space: pre-wrap;

        &:before,
        &:after {
            content: "";
            border-top: 2px solid;
            margin: 0 20px 0 0;
            flex: 1 0 20px;
            max-width: 50px;

            @media only screen and (min-width: 550px) {
                max-width: 200px;
            }
        }

        &:after {
            margin: 0 0 0 20px;
        }
    }
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 5) - 12px);
    overflow: hidden;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;

    @media screen and (max-width: 1500px) {
        grid-auto-columns: calc(100% / 3);
    }

    @media screen and (max-width: 900px) {
        grid-auto-columns: calc(100% / 2);
    }

    @media screen and (max-width: 600px) {
        grid-auto-columns: 100%;
    }
}

.game {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-height: 350px;
    transition: transform 0.5s ease;

    > button {
        background: none;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    h2 {
        color: whitesmoke;
        font-size: 20px;
        font-weight: bold;
        left: 15px;
        position: absolute;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        top: 100px;

        @media only screen and (min-width: 425px) {
            font-size: 35px;
            top: 125px;
        }
    }

    img {
        border-radius: 15px 15px 0 0;
        margin: 10px 0 0 0;
        height: 125px;
        width: 200px;

        @media only screen and (min-width: 425px) {
            height: 170px;
            width: 300px;
        }
    }

    .see-more {
        background: none;
        border: 1px solid white;
        border-radius: 0 0 15px 15px;
        color: white;
        display: inline-block;
        padding: 4px 7px;
        text-align: center;
        text-decoration: none;
        width: 200px;

        @media only screen and (min-width: 425px) {
            width: 300px;
        }

        span {
            transition: all 0.3s;
        }

        &:hover {
            background: #f0f0f038;
            border: none;
            margin: 1px 0;

            span {
                letter-spacing: 2px;
            }
        }
    }
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    span {
        cursor: pointer;
        background-color: white;
        border-radius: 50%;
        height: 10px;
        margin: 0 5px;
        width: 10px;

        &.active {
            background-color: grey;
        }
    }
}
