@import "../../../utils/styles/colors.scss";
@import "./joystick.scss";

footer {
    background: $sky-base;
    color: white;
    display: flex;
    flex-direction: column;
    height: 225px;
    justify-content: space-around;
}

.end {
    display: flex;
    font-weight: 900;
    justify-content: center;
}
