@import "../../../utils/styles/colors.scss";

header {
    align-items: center;
    background-color: $sky-base;
    color: white;
    display: flex;
    height: 65px;
    justify-content: flex-start;
    position: fixed;
    width: 100%;

    :first-child {
        margin-left: 25px;
    }

    button {
        background: none;
        border: none;
        color: white;
        font-size: 25px;
        font-weight: bold;
        margin-right: 50px;
    }
}
