<header [@navUp]="show ? 'up' : 'down'">
    <input id="hamburger-menu-toggle" type="checkbox" />
    <label *ngIf="isHome" class='hamburger-menu' for="hamburger-menu-toggle">
        <div class='menu-button'></div>
    </label>

    <ul *ngIf="isHome" class="menu">
        <li><button (click)="goToId('who')">{{ 'header.who' | translate }}</button></li>
        <li><button (click)="goToId('section-skills')">{{ 'header.skills' | translate }}</button></li>
        <li><button (click)="goToId('games')">{{ 'header.games' | translate }}</button></li>
        <li><button (click)="goToId('footer')">{{ 'header.footer' | translate }}</button></li>
    </ul>

    <ul *ngIf="!isHome" class="menu-secrect">
        <li><button (click)="goHome()">{{ 'header.home' | translate }}</button></li>
    </ul>

    <select name="language" (change)="switchLanguage($event)">
        <option value="en-US">English</option>
        <option value="pt-BR">Português</option>
    </select>
</header>