@import "../../../utils/styles/colors.scss";

header {
    align-items: center;
    background-color: $sky-base;
    color: white;
    display: flex;
    height: 65px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;

    div:first-child {
        margin-left: 25px;
    }

    select,
    button {
        background: none;
        border: none;
        color: white;
        font-size: 25px;
        font-weight: bold;
        margin-right: 50px;
    }

    option {
        background-color: $sky-base;
        border: none;
        font-size: 25px;
        font-weight: bold;
    }
}
