<modal-game [hidden]=showGame [functionToCloseModal]="closeModal" [game]=currentGame />

<section id="games">
    <h1>{{ 'games.made' | translate }}</h1>
    <ngu-carousel [dataSource]="slides" [inputs]="carouselBanner" (onMove)="onmoveFn($event)" [trackBy]="trackCarousel">
        <button NguCarouselPrev class="arrow left"></button>

        <ngu-item *nguCarouselDef="let item; index as i; let ani = animate" [@slider]="ani">
            <div class="game" [ngClass]="'game-' + i">
                <button (click)="seeMore(slides[i])">
                    <h2>{{ slides[i].title }}</h2>
                    <img src='{{ "../../../assets/games/" + slides[i].imageSrc + ".jpg" }}' />
                    <button class="see-more">
                        <span>ver mais...</span>
                    </button>
                </button>
            </div>
        </ngu-item>

        <button NguCarouselNext class="arrow right"></button>
    </ngu-carousel>
</section>