@import "../../../utils//styles/colors.scss";

#games {
    background-color: $sky-blue;
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 100%;

    .arrow {
        border: 0;
        position: absolute;
        top: 50%;
        width: 3vmin;
        height: 3vmin;
        background: transparent;
        border-top: 1vmin solid white;
        border-right: 1vmin solid white;
        z-index: 1;

        &.right {
            margin-right: 30px;
            transform: translate3d(0, -50%, 0) rotate(45deg);
            right: 0;
        }

        &.left {
            margin-left: 30px;
            transform: translate3d(0, -50%, 0) rotate(-135deg);
            left: 0;
        }
    }

    h1 {
        color: white;
        font-size: 35px;
        font-weight: bold;
        margin-top: 25px;
        text-align: center;
    }

    h2 {
        font-size: 20px;

        @media only screen and (min-width: 425px) {
            font-size: 24px;
        }
    }
}

.game {
    align-items: center;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px;
    min-height: 350px;

    img {
        margin: 10px 0 10px 0;
        height: 125px;
        width: 200px;

        @media only screen and (min-width: 425px) {
            height: 170px;
            width: 300px;
        }
    }

    .see-more {
        background: none;
        border: 1px solid white;
        color: white;
        display: inline-block;
        padding: 4px 7px;
        text-align: center;
        text-decoration: none;
        min-width: 120px;

        span {
            transition: all 0.3s;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
            margin: 1px;

            span {
                letter-spacing: 2px;
            }
        }
    }
}
